* {
    padding: 0;
    margin: 0;
}
.contenedor {
    background-color: rgb(196, 161, 161);
    margin: none;
    padding: none;
    gap: none;
}
.boton {
    width: 4rem;
    height: 2rem;
    background-color: rgb(39, 39, 153);
    color: white;
    border-radius: 20%;
    border-bottom: none;
}
.boton:hover{
    background-color: rgb(88, 88, 226);
    color: white;
    border-radius: 25%;
}

.salida{
    display: flex;
}

.navegador:hover{
transition: transform 0.3s ease;
transform: scale(1.2);
}
.nav-link{
    width: 25%;
    color: white;
}

body {
    background-color: rgb(231, 180, 212);
}
.nombre {
    color: white;
    text-align: center;
}
.descripscion{
    background-color: rgb(73, 90, 86);
    color: white;
    text-align: justify;
    
}



.lista1 {
    color: white;
    text-align: center;
    display: flex;
}

.lista2 {
    background-color: rgb(230, 159, 220);
    color: white;
    list-style: none;
   text-align: center;
   
}


.titulo{
    margin: 15px;
    color: white;
    text-align: center;
}
.seccion{
    justify-items: center;
    justify-content: center;
}



.container  {
   height: 35rem;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.card{
background-color: rgb(236, 199, 221);
display: flex;
display: grid;

gap: 16px;
}

.card:hover {
    margin: none;
    border: none;
    border-color: none;
    border-color: none;
    background-color: rgb(131, 108, 124);
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    transition: transform 0.3s ease;
    border: none;
}
.card-body {
   width: 33%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.hobbies {
   width: 18rem;
   padding: none;
   margin: 4px;
   font-size: solid;
   color: white;
}


.imagen-1 {
    width: 18rem;
    padding-right: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    gap: 16px;
   

}

.card-title{

    margin: none;
    margin-top: 5px;
    height: 2rem;
    text-align: center;
    gap: none;

}

.hijo-0 {
    width: 22rem;
    padding-top: 16px;
    bottom: 5rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    
}

.hijo-1 {
    
    width: 6rem;
    height: 3rem;
    padding-top: none;
    bottom: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.facebook{
    display: flex;
    display: grid;
}

.pie-1 {
    width: 100%;
    height: 5rem;
    margin: 16px;
    color: white;

   }


